body {
    background-color: rgb(0, 179, 239);
    
}
.question_number {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 10px;
    height: 40px;
    display: flex;
    margin-right: 775px;
    background-color: rgb(147, 147, 177);
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    white-space: nowrap;
}
.question {
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.button_quiz {
    border-radius: 0px;
    border-style: none;
    background-color:rgb(255, 255, 255);
    height: 50px;
    width: 70px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 50px;
}
.button_quiz_two_b {
    border-style: none;
    background-color:rgb(255, 255, 255);
    height: 50px;
    width: 90px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 50px;
}
.button_quiz:hover {
    background-color: grey;
    
}
.button_quiz_box {
    margin-left: 50px;
    margin-top: 25px;
    
}
.abgrenzung_unten {
    margin-top: 10px;
    height: 85px;
}
.quiz_footer {
    position: fixed;      /* bleibt immer sichtbar */
    bottom: 0;            /* am unteren Bildschirmrand */
    left: 0;              /* ganz links anfangen */
    width: 100%;          /* volle Breite */
    background-color: aqua;
}
