body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
}
header {
    position: fixed;
    top: 0;
    width: 100%;
}
.Überschrift {
    display: flex;
    height: 150px;
    font-weight: bolder;
    margin-top: 0px;
    background-color: yellow;
    position: sticky;
    top: 0;
    align-items:space-between;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.Überschrift h1 {
    margin-left: 10px;
    padding-left: 10px;
}
.Links {
    display: flex;
    font-size: 10px;
    justify-content:flex-end;
    height: 50px;
    align-items: flex-end;
    margin-top: -1px;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.Links a {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    border-radius: 3px;
    color: black;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    position: sticky;
}
.Links a:hover {
    background-color: black;
    border: 3px solid black;
    border-radius: 2px;
    text-decoration: underline;
    color: white;
    font-size: 25px;
}
.null {
    height: 200px;

}







