body {
    background-color: black;
    color: white;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 30%;
    font-style:initial;}